@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}
.header {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#bershop {
    text-decoration: none;
    color: white;
    letter-spacing: 10px;
}
.shop {
    width: 25px;
    height: 25px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 65px;
}
.main-img {
    width: 50vw;
    min-width: 400px;
    height: 70vh;
    background: url(../img/laptop-white.jpg) no-repeat center center / cover;
}
.main-details {
    width: 40vw;
    min-width: 400px;
    height: 50vh;
    text-align: center;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main-details .btn {
    margin: 10px; 
    min-width: 300px;
    width: 12rem;
    height: 3rem; 
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(194, 58, 81);
}
.main-details .name-product {
    font-size: 2rem;
}
.main-details .details-product {
    width: 30vw;
    font-size: .1;
}
@media screen and (max-width:1200px){
    .main {
        flex-direction: column;
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #333;
}