@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #eee;
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    color: white;
    position: absolute;
    padding: 20px;
    transition: all 0.8s ease-in-out 0s;
}
.header #title {
    font-size: 1rem;
    letter-spacing: 10px;
    opacity: 2;
    cursor: context-menu;
    transition: all 0.8s ease-in-out 0s;
}
.header #nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav-container .nav {
    display: flex;
    align-items: center;
    color: white;
    gap: 50px;
}
.nav .menu {
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.menu:hover {
    opacity: .6;
}
.login {
    padding: 5px 20px;
    background-color: rgb(194, 58, 81);
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
}
.library a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.library .shop {
    width: 25px;
    height: 25px;
}
#search-box {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}
#search-box .box {
    width: 1.5rem;
    height: 1px;
    background-color: white;
    margin: 5px;
}
#search-box .box:nth-child(1) {
    width: 1rem;
}
#search-box .box:nth-child(3) {
    width: 0.5rem;
}
.description-title {
    text-decoration: none;
    margin-top: -4.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.container-online {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../img/compra_online.jpg) no-repeat center center / cover fixed;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: color;
}
.type-product {
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-product-title {
    font-size: 2rem;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}
.all-product {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.all-product a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
#laptop-container {
    margin-top: 3rem;
    padding-top: 3rem ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}
.laptop-nice-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all .8s ease-in-out;
    background-color: whitesmoke;  
}
.laptop-nice-container .laptop-nice {
    width: 30vw;
    height: 30vh;
    background: url(../img/laptop-nice.jpg)no-repeat center center / cover;
    min-width: 400px;
    cursor: pointer;
}
.laptop-white-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all .8s ease-in-out;
    background-color: whitesmoke;  
}
.laptop-white-container .laptop-white {
    width: 30vw;
    height: 30vh;
    background: url(../img/laptop-white.jpg)no-repeat center center / cover;
    min-width: 400px;
    cursor: pointer;
}
.laptop-work-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all .8s ease-in-out;
    background-color: whitesmoke;
}
.laptop-work-container .laptop-work {
    width: 30vw;
    height: 30vh;
    background: url(../img/work.jpg) no-repeat center center / cover;
    min-width: 400px;
    cursor: pointer;
}
.laptop-container-show {
    transition: all .8s ease-in-out;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#setup-container {
    margin-top: 10rem ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}
.container-product-name {
    border:1px solid;
    border-radius: 40px;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-product-price {
    border:1px solid;
    border-radius: 40px;
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-product {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: whitesmoke;
}
.container-product .setup-black-nice {
    width: 30vw;
    height: 30vh;
    background:url(../img/setup_black_nice.jpg) no-repeat center center/ cover ;
    min-width: 400px;
    cursor: pointer;
}
.container-product .desktop {
    width: 30vw;
    height: 30vh;
    background: url(../img/desktop.jpg) no-repeat center center / cover;
    min-width: 400px;
    cursor: pointer;
}
.container-product .setup-promotion {
    width: 30vw;
    height: 30vh;
    background: url(../img/setup_luzes.jpg) no-repeat center center / cover;
    min-width: 400px;
    cursor: pointer;
}
#footer {
    margin-top: 10rem;
    padding: 1rem;
    background-color: black;
}
#footer .copyright{
    text-align: center;
    color: white;
}
@media screen and (max-width:1100px){
    #search-box {
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
    #laptop-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #setup-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* barra de scroll do site */
::-webkit-scrollbar-track {
    background-color: #eee;
}
::-webkit-scrollbar {
    width: 8px;
    background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #444;
}