#nav-container {
    display: flex;
}
.nav {
    position: absolute;
    transform: translateY(135px) translateX(250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 20px;
    min-width: 200px;
    background-color: rgb(16, 16, 43);
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease-in-out;
}
.nav-show-toggle {
    opacity: 3;
    visibility:visible;
    transform: translateY(135px) translateX(0px);
}
#search-box {
    opacity: 1;
    visibility: visible;
}
.description {
    height: 50vh;
    width: 70vw;
}
#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#product-promotion {
    flex-direction: column;
}
.logo-show {
    font-size: 1.5rem;
    width: 35vw;
}
.logo {
    font-size: 1.5rem;
    width: 35vw;
}
